body{
    background: url("https://arms.sse.saveetha.com/assets/admin/layout/img/edubg.jpg ");
    background-size: cover;
    color: whitesmoke;
    background-position: center;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: url(https://www.teahub.io/photos/full/56-569762_8-bit-gif.gif);
    background-size: cover; */
}
form{
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border-radius:50px ;
    padding: 0 4% 1% 4%;
    font-family: 'Courier New', Courier, monospace;
}
.tog{
    background-color: transparent;
    color: white;
    border: none;
}
.heading{
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.submit{
    color: white;
    background-color: black;
    border-radius: 50px;
    padding: 10px;
}
.submit:hover{
    color: black;
    background: white;
}form label {
    display: inline-block;
    width: 150px; /* Adjust this value as needed */
    text-align: right;
    margin-right: 10px;
}
#login form label{
    width: 80px;
}
.inputContainer {
    position: relative;
    margin-bottom: 20px;
  }
  
  .customInput {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #007bff;
    outline: none;
    transition: border-color 0.3s ease;
    color: #007bff;
  }
  .customInput:focus,
  .customInput:not(:placeholder-shown) {
    border-color: #0056b3;
  }
  .inputLabel {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    padding: 5px;
    font-size: 16px;
    color: #007bff;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  .customInput:focus + .inputLabel,
  .customInput:not(:placeholder-shown) + .inputLabel {
    transform: translateY(-100%) translateX(-5px) scale(0.8);
  }
  .inputUnderline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #007bff;
  }
a{
  text-align: end;
  text-decoration: none;
  color: white;
}